body {
    font-family: 'Lato' !important;
    background-color: white;
}

h2 {
    color:#264ee4;
    padding-bottom: 5px;
}

h3 {
    padding-top:  15px;
    padding-bottom: 5px;
}
/* PARTIE NAV */
nav {
    height:8%;
}

.navbar a:active, .navbar a:focus, .navbar a:hover
 {
    color:#264ee4 !important;
    
}
.btn-outline-secondary {
    padding-top: 10px;
}

.descPiano {
    padding-bottom: 20px;
}

.baseline {
    padding: 2%;
}

/* PARTIE EXPERIENCE PRO */

/* pour lien collapse */
.btn h3 {
    color:#264ee4; 
}

/* titres entreprise */
.collapse h3 {
    color: #dd4714 ;
}

.experiencePrinc {
    color: #dd4714 ;
}

#competencesPro,
#experiencePro,
#cursus,
#loisirs {
    padding-top:  30px;
}

/* PARTIE LOISIRS */
.reglage1 {
    padding-top: 3%;
}

.reglage2 {
    padding-top: 2%;
    padding-bottom: 2%;
}

/* PARTIE CONTACT */
#contact {
    padding-top:  30px;
    padding-bottom: 100px;
}

.avatar img {
    border-radius: 10%;
}
/* icones contact */
.emplacement {
    padding-top: 60px;
}
.emplacementBis {
    padding-top: 50px;
}

/* icones fontawesome */

/* icones */
.fas,
.fab {
    padding-bottom: 3%;
}

.fa-bold {
    color:#713dbc;
}
.fa-git-square {
    color:#f04d37;
}
.fa-html5 {
    color:#e44c25;
}
.fa-css3-alt {
    color:#264ee4;
}
.fa-js {
    color:#f7df1d;
}
.fa-php {
    color: #767bb3;
}
.fa-java {
    color: #ea2d2e;
}
.fa-sass {
    color:#cc6699;
}
.fa-npm {
    color:#d40100;
}
.fa-node {
    color:#69ce42;
}
.fa-database {
    color:#438bc6;
}

.fa-gitlab {
    color:#007bff;
}